body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-11);
}
    

h1, h2, h3, h4, ul, p, blockquote, dd{
    margin: 0px;

}

ul{
    
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;            /*comando para herda cor do pai*/
}

img{
    max-width: 100%;
    display: block;
}
img[src$=".jpg"] {    /*a tag [src$=]faz com que os atributos sejam add somento em elementos terminados em ".jpeg"*/
    border-radius: 4px;
}
